<div class="well">
<h1 class="header">Zoo Tracker</h1>
</div>
<div class="well">
  <h2>Resident Animals</h2>
  <h5>Filter By Age</h5>
  <select class="drop" (change)="onChange($event.target.value)">
    <option value="allAnimals" selected="selected">All Animals</option>
    <option value="overTwo">Animals Two Years or Older</option>
    <option value="underTwo">Animals Under Two Years</option>
  </select>
  <ul *ngFor="let currentAnimal of childAnimalList | age:filterByAge">
    <div class="box">
      <li><h2>{{currentAnimal.species}}</h2></li>
      <li><h4>Name: {{currentAnimal.name}}</h4></li>
      <li><h4>Age: {{currentAnimal.age}}</h4></li>
      <li><h4>Diet: {{currentAnimal.diet}}</h4></li>
      <li><h4>Location: {{currentAnimal.location}}</h4></li>
      <li><h4>Caretakers: {{currentAnimal.caretakers}}</h4></li>
      <li><h4>Sex: {{currentAnimal.sex}}</h4></li>
      <li><h4>Likes: {{currentAnimal.likes}}</h4></li>
      <li><h4>Dislikes: {{currentAnimal.dislikes}}</h4></li>
      <button (click)="editButtonHasBeenClicked(currentAnimal)">Edit</button>
    </div>
  </ul>
</div>
